@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.wrapper{
  display: flex;
  vertical-align: top;
}
.wrapper .static-txt{
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  padding-top: 24px;
}
.wrapper .dynamic-txts{
  /* margin-left: 15px; */
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #FC6D6D;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #101a1a;
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}
.body {
  background-color: yellow;
}
.yehe img{
  border-radius: 500px;
  /* z-index: auto; */
}
.fa
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-github {
  background: #000000;
  color: white;
}

.fa {
  padding: 15px;
  font-size: 50%;
  text-align: center;
  text-decoration: none;
  border-radius: 500%;
}

.fa-linkedin {
  background: rgb(0, 122, 244);
  color: white;
  border-radius: 5%;
}

.fa-instagram {
  background: rgb(255, 0, 136);
  color: white;
  border-radius: 10%;
}

html {
  font-size: 10px;
  font-family: 'Josefin Sans', sans-serif;
  scroll-behavior: smooth;
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  width: 10%;
  height: 0;
  border-width: 5px;

}
.service-item .icon img
{
  margin-left: 60px;
  object-fit: contain;
}
a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  color: blue;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: blue;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}


.section-title span {
  color: White;
}


.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

.brand h1 span {
  color: White;
}

#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
  transition: 0.3s ease background-color;
}

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  padding: 0 10px;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}



#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}



#header .nav-list ul li:hover a {
  color: rgb(191, 220, 85);
}

#mainpm {
  /* background-image: url(images/bgm.jpg); */
  background-size: cover;
  background-position: top;
  position: relative;
  /* z-index: 1; */
}

.h {

  height: 150px;
  width: 150px;
  position: absolute;
  right: 40px;
  top: 160px;
  ;
  background-color: yellow;
  /* background-image: rgb(0, 0, 0); */
  opacity: 0.6;

}

#mainpm::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  opacity: 0.7;
  z-index: -1;
}

.mainpm {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}



#services .services {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}

#services .service-top {
  max-width: 500px;
  margin: 0 auto;
}

#services .service-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

#services .service-item {
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  /* background-image: url("./img/achievement.jpg"); */
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#services .service-item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(50deg, #283135 5%, #64676a 95%);
  /* opacity: ; */
  z-index: -1;
}

#services .service-bottom .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

#services .service-item h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#services .service-item p {
  color: white;
  text-align: left;
}

#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  width: 90%;
}
service
#contact .contact-items {

  width: 80%;
}

#contact .contact-item {
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 2%;
  /* background-image: linear-gradient(60deg, #14274E, #F1F1F1, #DAD0C2); */
  background-image: linear-gradient(50deg, black 5%, rgb(52, 137, 216) 95%);
  /* background-color: black; */
  color:wheat;
  margin: 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}


#contact .contact-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#contact .contact-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}

#contact .contact-info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 800;
}


#topcc .topcc {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

#topcc .topcc-items {
  width: 100%;
}

#topcc .topcc-item {
  width: 50%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:  #29323c;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow;
}



#topcc .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#topcc .topcc-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}

#topcc .topcc-info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}

#footer {
  background-image: linear-gradient(60deg, #29323c 10%, #4ea3ff 100%);
}

#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}

#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}

#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}

#footer .social-item img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}

#footer .social-item:hover img {
  filter: grayscale(0);
}

#footer p {
  color: white;
  font-size: 1.3rem;
}


@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
}


@media only screen and (min-width: 768px) {


  h1.section-title {
    font-size: 6rem;
  }


  #mainpm h1 {
    font-size: 7rem;
  }


  #services .service-bottom .service-item {
    flex-basis: 45%;
    margin: 2.5%;
  }


  #contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
  }

  #contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
  }

  #contact .contact-item {
    width: 30%;
    margin: 0;
    flex-direction: row;
  }

  #contact .contact-item .icon {
    height: 100px;
    width: 100px;
  }

  #contact .contact-item .icon img {
    object-fit: contain;
  }

  #contact .contact-item .contact-info {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }


  #topcc .topcc {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
  }

  #topcc .topcc-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
  }



  #topcc .topcc-item {
    width: 30%;
    margin: 0;
    flex-direction: row;
  }

  #topcc .topcc-item .icon {
    height: 100px;
    width: 100px;
  }

  #topcc .topcc-item .icon img {
    object-fit: contain;
  }

  #topcc .topcc-item .topcc-info {
    color: white;
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }

  .h {
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 30rem;
    position: absolute;
    right: 10rem;
    top: 10rem;
    background-image: blue;
    opacity: 0.6;
  }
}


@media only screen and (min-width: 1200px) {



  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }

  #header .nav-list ul li {
    display: inline-block;
  }

  #header .nav-list ul li a {
    font-size: 1.8rem;
  }

  #services .service-bottom .service-item {
    flex-basis: 22%;
    margin: 1.5%;
  }
}
